page-tabs {
    .tabbar {
        border:none !important;
        background: #242A31 !important;
    }
    .tab-button-text {
        color:white;
    }
    .tab-badge {
        background-color: red;
        color:white;
        

    }
}
